



body {
	background-color: lightblue;
}

h1 {
	text-align:left;
	text-indent: 10px;
}

img {
	padding-right: 20px;
	height: 400px;
	width: 300px;
	
}

p {
	padding: 10px;
	
	height: 80px;
	text-align: justify;

}

a {
	
	padding: 10px;
	font-size: 25px;
}

#leftside {
	float: left;
	width: calc(100% - 350px);
	min-width: 200px;
	padding-right: 20px;
}


